{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

  <h1>Task List</h1>
  <a href="{% url 'tasklist:task-create' %}" class="btn btn-primary">Add New Task</a>
  <table class="table">
    <thead>
    <tr>
      <th>Content</th>
      <th>Published Date</th>
      <th>Deadline</th>
      <th>Tags</th>
      <th>Done</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for task in task_list %}
      <tr>
        <td>{{ task.content }}</td>
        <td>{{ task.published_date }}</td>
        <td>{{ task.deadline }}</td>
        <td>
          {% for tag in task.tags.all %}
            <span class="badge badge-secondary">{{ tag.name }}</span>
          {% endfor %}
        </td>
        <td>
          {% if task.is_done %}
            <a href="{% url 'tasklist:undo-task' pk=task.id %}" class="btn btn-danger">Undo</a>
          {% else %}
            <a href="{% url 'tasklist:complete-task' pk=task.id %}" class="btn btn-success">Complete</a>
          {% endif %}
        </td>
        <td>
          <a href="{% url 'tasklist:task-update' task.pk %}" class="btn btn-secondary">Update</a>
          <a href="{% url 'tasklist:task-delete' task.pk %}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="6">No tasks yet.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
