{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

  <h1>Task List</h1>
  <a href="{% url 'tasklist:task-create' %}" class="btn btn-primary">Add New Task</a>
  <table class="table">
    <thead>
    <tr>
      <th>Content</th>
      <th>Published Date</th>
      <th>Deadline</th>
      <th>Tags</th>
      <th>Done</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for task in task_list %}
      <tr>
        <td>{{ task.content }}</td>
        <td>{{ task.published_date }}</td>
        <td>{{ task.deadline }}</td>
        <td>
          {% for tag in task.tags.all %}
            <span class="badge badge-secondary">{{ tag.name }}</span>
          {% endfor %}
        </td>
        <td>
          {% if task.is_done %}
            <a href="{% url 'tasklist:undo-task' pk=task.id %}" class="btn btn-danger">Undo</a>
          {% else %}
            <a href="{% url 'tasklist:complete-task' pk=task.id %}" class="btn btn-success">Complete</a>
          {% endif %}
        </td>
        <td>
          <a href="{% url 'tasklist:task-update' task.pk %}" class="btn btn-secondary">Update</a>
          <a href="{% url 'tasklist:task-delete' task.pk %}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="6">No tasks yet.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}






{#{% extends "base.html" %}#}
{#{% load crispy_forms_filters %}#}
{##}
{#{% block content %}#}
{#  <h1>#}
{#    TODO List#}
{#    <a href="{% url 'tasklist:task-create' %}" class="btn btn-primary link-to-page">#}
{#      Create Task#}
{#    </a>#}
{#  </h1>#}
{##}
{##}
{#  <div class="row">#}
{#    <div class="col-md-2">#}
{#      <h4>Tags</h4>#}
{#      <div class="list-group">#}
{#        <a href="{% url 'tasklist:index' %}" class="list-group-item list-group-item-action">#}
{#          All tasks#}
{#        </a>#}
{#        {% for tag in tag_list %}#}
{#          <a href="{% url 'tasklist:index' %}?tag={{ tag.id }}" class="list-group-item list-group-item-action">#}
{#            {{ tag.name }}#}
{#          </a>#}
{#        {% empty %}#}
{#          <span class="list-group-item">No tags yet</span>#}
{#        {% endfor %}#}
{#      </div>#}
{#    </div>#}
{#    <div class="col-md-10">#}
{#      <table class="table table-hover">#}
{#        <thead>#}
{#          <tr>#}
{#            <th scope="col">#</th>#}
{#            <th scope="col">Content</th>#}
{#            <th scope="col">Created</th>#}
{#            <th scope="col">Deadline</th>#}
{#            <th scope="col">Tags</th>#}
{#            <th scope="col">Done</th>#}
{#            <th scope="col">Actions</th>#}
{#          </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#          {% for task in task_list %}#}
{#            <tr>#}
{#              <td>{{ task.id }}</td>#}
{#              <td>{{ task.content }}</td>#}
{#              <td>{{ task.published_date }}</td>#}
{#              <td>{% if task.deadline %}{{ task.deadline }}{% endif %}</td>#}
{#              <td>#}
{#                {% for tag in task.tags.all %}#}
{#                  <span class="badge bg-primary">{{ tag.name }}</span>#}
{#                {% endfor %}#}
{#              </td>#}
{#              <td>#}
{#                {% if task.is_done %}#}
{#                  <span class="badge bg-success">Done</span>#}
{#                {% else %}#}
{#                  <span class="badge bg-warning text-dark">Not Done</span>#}
{#                {% endif %}#}
{#              </td>#}
{#              <td>#}
{#                <a href="{% url 'tasklist:task-update' task.id %}" class="btn btn-sm btn-primary">Edit</a>#}
{#                <a href="{% url 'tasklist:task-delete' task.id %}" class="btn btn-sm btn-danger">Delete</a>#}
{#                {% if task.is_done %}#}
{#                  <a href="{% url 'tasklist:task-undo' task.id %}" class="btn btn-sm btn-warning">Undo</a>#}
{#                {% else %}#}
{#                  <a href="{% url 'tasklist:task-complete' task.id %}" class="btn btn-sm btn-success">Complete</a>#}
{#                {% endif %}#}
{#              </td>#}
{#            </tr>#}
{#          {% empty %}#}
{#            <tr>#}
{#              <td colspan="7">No tasks yet.</td>#}
{#            </tr>#}
{#          {% endfor %}#}
{#        </tbody>#}
{#      </table>#}
{##}
{#{% endblock %}#}






{#  {% if tag_list %}#}
{#    <table class="table">#}
{#      <tr>#}
{#        <th>ID</th>#}
{#        <th>Name</th>#}
{#        <th>Update</th>#}
{#        <th>Delete</th>#}
{#      </tr>#}

{#      {% for tag in tag_list %}#}
{#        <tr>#}
{#          <td>#}
{#              {{ tag.id }}#}
{#          </td>#}
{#          <td>#}
{#              {{ tag.name }}#}
{#          </td>#}
{#          <td>#}
{#              <a href="{% url 'tasklist:task-update' pk=tag.id %}">#}
{#                Update#}
{#              </a>#}
{#            </td>#}
{#            <td>#}
{#              <a style="color: red"#}
{#                href="{% url 'tasklist:task-delete' pk=tag.id %}">#}
{#                Delete#}
{#              </a>#}
{#            </td>#}
{#        </tr>#}
{#      {% endfor %}#}
{#    </table>#}
{##}
{#  {% else %}#}
{#      <p>There are no tasks.</p>#}
{#  {% endif %}#}
{#{% endblock %}#}
